- !policy
  id: secrets
  body:
    - !group consumers
{% if secret_keys | length > 0 %}
    - &variables
{% for key in secret_keys %}
      - !variable
        id: {{ key }}
        annotations:
          created_by: "system:serviceaccount:{{ k8s_namespace }}:{{ service_account }}"
{% endfor %}
    - !permit
      role: !group consumers
      privilege: [ read, execute ]
      resource: *variables
{% endif %}
- !grant
  role: !group secrets/consumers
  member: !host app-path/system:serviceaccount:{{ k8s_namespace }}:{{ service_account }}
