apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ deployment_name }}
  namespace: {{ k8s_namespace }}
spec:
  template:
    metadata:
      annotations:
        conjur.org/container-mode: sidecar
        conjur.org/secrets-refresh-interval: 10s
    spec:
      shareProcessNamespace: true
      containers:
        - name: cyberark-secrets-provider-for-k8s
          image: cyberark/secrets-provider-for-k8s:latest
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: jwt-token
              mountPath: /var/run/secrets/tokens
            - name: podinfo
              mountPath: /conjur/podinfo
          env:
            - name: JWT_TOKEN_PATH
              value: /var/run/secrets/tokens/jwt
            - name: CONTAINER_MODE
              value: side
            - name: MY_POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: K8S_SECRETS
              value: db-credentials
            - name: SECRETS_DESTINATION
              value: k8s_secrets
            - name: CONJUR_APPLIANCE_URL
              value: "https://{{ conjur_host }}"
            - name: CONJUR_AUTHN_URL
              value: "https://{{ conjur_host }}/authn-jwt/{{ authenticator_id }}"
            - name: CONJUR_ACCOUNT
              value: "{{ conjur_account }}"
            - name: CONJUR_VERSION
              value: "5"
            - name: CONJUR_AUTHN_JWT_SERVICE_ID
              value: "{{ authenticator_id }}"
            - name: CONJUR_SSL_CERTIFICATE
              valueFrom:
                configMapKeyRef:
                  name: follower-cm
                  key: CONJUR_SSL_CERTIFICATE
      volumes:
        - name: jwt-token
          projected:
            sources:
              - serviceAccountToken:
                  path: jwt
                  expirationSeconds: 6000
                  audience: https://conjur.host.name/
        - name: podinfo
          downwardAPI:
            items:
              - path: annotations
                fieldRef:
                  fieldPath: metadata.annotations
